# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
.venv/
env/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Migrations (optional)
**/migrations/*.pyc